# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Entorno virtual
venv/
ENV/
.env
promt/

# Archivos de Flask
instance/
.webassets-cache

# Archivos de SQLAlchemy
*.sqlite

# Archivos de desarrollo
.vscode/
.idea/
*.swp
*.swo

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos generados
*.docx
*.pdf
*.log